@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@media (max-width:500px) {
    body {
        background:rgb(29, 29, 29);
        margin: 0;
        padding: 0;
    }
    
    #hole-Background {
        background:rgb(29, 29, 29);
        width:100vw;
    }

    #top-Bar {
        background:transparent;
        position: fixed;
        top:0px;
        height:50px;
        width:100%;
        transition: 1s;
    }

    #top-Bar.fadeTopBar {
        background:rgb(20, 20, 20);
        transition: .5s;
    }

    #trigger1 {
        position:absolute;
        top:52%;
    }

    #trigger2-Container {
        position:absolute;
        top:115vh;
    }

    #logo-Hider {
        width:100%;
        overflow: hidden;
        animation: ShowLogo 1s forwards ease-in-out;
    }

    @keyframes ShowLogo {
        0% {
            height:0px;
        }

        100% {
            height:50px;
        }
    }

    #Logo {
        height:40px;
        margin-top: 5px;
        margin-left: 10px;
    }
    
    #back-Image {
        width:34px;
        height:34px;
        position:absolute;
        top:10px;
        left:calc(100% - 50px);
    }

    #back-Page {
        width:0vw;
        height:100vh;
        background:rgb(29, 29, 29);
        position:fixed;
        top:0px;
        overflow: hidden;
    }

    #change-Pages {
        width:0px;
        height:100%;
        position:fixed;
        background: rgb(29, 29, 29);
        top:0px;
        left:0px;
    }

    @keyframes goBackToGamesPages {
        0% {
            width:0px;
            border-right: 0px solid rgb(120, 162, 47);
        }

        50% {
            width:0px;
            border-right:100vw solid rgb(120, 162, 47);
        }

        100% {
            width:100vw;
            border-right: 0px solid rgb(120, 162, 47);
        }
    }

    #player-Image-Holder {
        width:0vw;
        height:355px;
        margin-left: auto;
        margin-right: auto;
        margin-top:55px;
        border-radius: 15px;
        background:rgb(14, 14, 14);
        position:relative;
        overflow: hidden;
        animation: ShowPlayerHeadShot 1s forwards ease-in-out;
    }

    @keyframes ShowPlayerHeadShot {
        0% {
            width:0px;
            border-left: 0px solid rgb(120, 162, 47);
        }
        49% {
            border-left: 95vw solid rgb(120, 162, 47);
            border-right: 0px solid rgb(120, 162, 47);
        }
        50% {
            border-left: 0px solid rgb(120, 162, 47);
            border-right: 95vw solid rgb(120, 162, 47);
            width:0px;
        }
        100% {
            width:95vw;
            border-right: 0px solid rgb(120, 162, 47);
        }
    }

    #player-Headshot {
        width:95vw;
        /* height:100%; */
    }

    #Player-Name-Holder {
        width:100%;
        position: absolute;
        height:35px;
        overflow: hidden;
    }

    #Player-Name {
        margin-left: 10px;
        margin-top: 35px;
        font-size: 29.5px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        animation: ShowPlayersName .55s forwards  .75s ease-in-out;
    }

    @keyframes ShowPlayersName {
        0% {
            margin-top: 35px;
        }

        100% {
            margin-top: 0px;
        }
    }
}


/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}